@{
    ViewBag.Title = "Something went wrong!";
}

<div class="jumbotron">
    <h1>Something went wrong!</h1>
    <p class="lead">An unidentified error has occured. The site administrator has been notified.</p>
</div>